<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="host.port" value="8000"/>
    <add key="nhibernate.dialect" value="MsSql2005" />
    <add key="nhibernate.connectionstring" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=AttentiaPoC;Data Source=.\DEV" />
    <add key="nhibernate.mappingAssembly" value="HomeRunner.Domain.ReadModel" />
  </appSettings>

</configuration>