
@{
    ViewBag.Title = "Claims";
}

<h2>Claims</h2>
<p>@Html.ActionLink("Sign Out", "SignOut")</p>

<dl>
    @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
    {
        <dt>
            @claim.Type
        </dt>
        <dd>
            @claim.Value
        </dd>
    }
</dl>

